.App-interpreter-wrapper {
    height: 500px;
    padding: 20px 10px 10px 10px;
    margin-top: 10px;
    background-color: #222;
    border-top: solid 2px #FFF;
}

#App-interpreter-window {
    height: 400px;
    margin: 0px 10px 10px 10px;
    border: solid 1px #999;
}
.App-interpreter-nav {
    height: inherit;
    background-color: #222;
    border: solid 1px #999;
    margin-right: 5px;
}

.App-interpreter-nav-item>a {
    background-color: #FFF;
    color: #222;
}

.App-interpreter-nav-item>a:hover {
    background-color: #999;
    color: #A55FE0;
}

.App-Interpreter-content {
    background-color: #fff;
}

/*.nav-tabs>li.active>a:focus
.nav-tabs>li.active>a:hover*/